Repository voiapp/zephyr, pull requests merged in 2021-11, with the labels that each got.

#28 GSM PPP: Read the current time using the AT+CCLK command
  drivers/modem/gsm_ppp.c
  include/drivers/gsm_ppp.h
Labels: area: API, area: Modem

#29 gsm_ppp: Cancel scheduled gsm_configure_work
  drivers/modem/gsm_ppp.c
Labels: area: Modem

#30 network: properly handle failed lwm2m deregistration
  subsys/net/lib/lwm2m/lwm2m_rd_client.c
Labels: area: Networking

#31 ppp: Add posibility to run application code before configuring PPP
  drivers/modem/gsm_ppp.c
  include/drivers/gsm_ppp.h
Labels: area: API, area: Modem
