Repository voiapp/zephyr, pull requests merged in 2021-08, with the labels that each got.

#23 Doom production fw
  drivers/flash/CMakeLists.txt
  drivers/flash/Kconfig
  drivers/flash/spi_nor.c
  drivers/flash/spi_nor_gd25q64c.c
  drivers/flash/spi_nor_priv.h
  drivers/modem/gsm_ppp.c
  include/drivers/flash/gd25q64c.h
Labels: area: API, area: Modem

#24 lwm2m: fix unsigned resource types when reading values
  subsys/net/lib/lwm2m/lwm2m_engine.c
Labels: area: Networking

#25 Fix 2G modem initialization
  drivers/modem/gsm_ppp.c
Labels: area: Modem
